<div class="style-guide-partial" id="<%= partial.id %>">
  <h1><%= partial.title %></h1>

  <% if partial.description %>
    <div class="style-guide-partial-description">
      <%= partial.description.html_safe %>
    </div>
  <% end %>

  <div class="card example">
    <iframe class="style-guide-iframe" src="<%= partial_path(path: partial.path) %>" frameborder="0" width="100%"
            scrolling="no" height="0" onload="createMutationObserver(this)">
    </iframe>
    <% if partial.identifiers.any? %>
      <div class="card-footer style-guide-partial-identifiers">
        <div class="section-heading">Identifiers</div>
        <% partial.identifiers.each do |identifier_name| %>
          <span class="identifier"><%= identifier_name %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="style-guide-toggle switch radius">
    <input id="style-guide-toggle-<%= partial.id %>" type="checkbox">
    <label for="style-guide-toggle-<%= partial.id %>"></label>
    <div class="style-guide-partial-source panel space-above">
      <pre class="prettyprint"><%= escape_for_display(partial.render) %></pre>
    </div>
  </div>
</div>
