<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Style Guide</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

    <%= stylesheet_link_tag    'style_guide/application', media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,200italic,300italic,400italic,600,600italic,700,700italic,900,900italic">
    <%= javascript_include_tag 'style_guide/iframe' %>
  </head>
  <body class="style-guide">

  </body>
  <body class="style-guide">
    <div class="row main-row">
      <div class="medium-4 large-3 column no-padding">
        <div class="hide-for-small">
          <div class="sidebar main-nav">
            <nav>
              <ul class="side-nav">
                <% @sections.each do |section| %>
                  <li class="heading"><a href="<%= style_path(section.id) %>"><%= section.title %></a></li>
                  <% if section == @current_section %>
                    <% section.partials.each do |partial| %>
                      <li class="partial"><a href="#<%= partial.id %>"><%= partial.title %></a></li>
                    <% end %>
                    <li class="divider"></li>
                  <% end %>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="medium-8 large-9 column">
        <%= yield %>

        <%= javascript_include_tag 'style_guide/application' %>
      </div>
    </div>
  </body>
</html>
